# =========================
# CORE
# =========================
streamlit==1.32.0
numpy==1.24.3
pandas==2.0.3

# =========================
# IMAGE PROCESSING
# =========================
opencv-python-headless==4.8.0.76
Pillow==10.0.1

# =========================
# MACHINE LEARNING
# =========================
tensorflow==2.13.0

# =========================
# UTILITIES
# =========================
scikit-learn==1.3.0
matplotlib==3.7.2

# =========================
# REPORT GENERATION
# =========================
reportlab==4.0.4

# =========================
# API / EXTRA
# =========================
protobuf==4.24.4
typing_extensions>=4.5.0,<4.8.0
groq==0.11.0
fpdf==1.7.2